In [1]:
## Written and published by Nathan Young, Junior Data Analyst for NC Data Dashboard, December 2019 ##

In [2]:
# Imports  
import pandas as pd

In [3]:
# Create backups
df_backup = pd.read_csv('./Updates/STG_FRED_Resident_Population_by_County_Thousands_of_Persons.txt')
df_backup.to_csv('./Backups/STG_FRED_Resident_Population_by_County_Thoudands_of_Persons_BACKUP.txt')

In [4]:
# Getting and reading new data 
df = pd.read_excel("https://geofred.stlouisfed.org/api/download.php?theme=pubugn&colorCount=5&reverseColors=false&intervalMethod=fractile&displayStateOutline=true&lng=-89.96&lat=40.78&zoom=4&showLabels=true&showValues=true&regionType=county&seriesTypeId=1549&attributes=Not+Seasonally+Adjusted%2C+Annual%2C+Thousands+of+Persons&aggregationFrequency=Annual&aggregationType=Average&transformation=lin&date=2018-01-01&type=xls&startDate=1970-01-01&endDate=2018-01-01&mapWidth=999&mapHeight=582&hideLegend=false", skiprows=1)
df.head()

,Series ID,Region Name,Region Code,1970,1971,1972,1973,1974,1975,1976,...,2009,2010,2011,2012,2013,2014,2015,2016,2017,2018
0,SCABBE1POP,"Abbeville County, SC",45001,21.112,21.5,21.5,21.6,21.9,22.1,22.2,...,25.053,25.310,25.060,25.000,24.880,24.775,24.775,24.633,24.560,24.541
1,LAACAD0POP,"Acadia Parish, LA",22001,52.109,52.5,52.6,52.8,52.7,53.1,53.8,...,60.115,61.875,61.853,61.991,62.294,62.664,62.681,62.793,62.514,62.190
2,VAACCO1POP,"Accomack County, VA",51001,29.004,28.6,28.7,29.6,30.6,30.9,30.9,...,38.321,33.147,33.221,33.264,32.966,32.970,32.910,32.850,32.566,32.412
3,IDADAC1POP,"Ada County, ID",16001,112.230,117.8,123.1,129.7,135.5,141.1,147.3,...,384.025,393.350,401.235,408.930,416.080,425.540,433.047,444.824,456.885,469.966
4,MOADPOP,"Adair County, MO",29001,22.472,22.3,23.4,23.9,23.9,23.4,24.1,...,25.125,25.623,25.652,25.671,25.701,25.516,25.307,25.155,25.306,25.339

In [5]:
# Filter data to display only North Carolina
filter1 = df['Region Name'].str.contains(', NC')
df_nc = df[filter1]
df_nc.head()

,Series ID,Region Name,Region Code,1970,1971,1972,1973,1974,1975,1976,...,2009,2010,2011,2012,2013,2014,2015,2016,2017,2018
24,NCALAM1POP,"Alamance County, NC",37001,96.502,98.5,99.7,99.9,99.3,98.2,98.7,...,150.244,151.440,152.696,153.282,154.199,155.425,157.100,160.392,163.529,166.436
34,NCALEX3POP,"Alexander County, NC",37003,19.466,20.3,21.2,22.1,22.7,22.9,23.1,...,36.822,37.235,37.028,36.925,37.016,36.992,36.960,37.142,37.146,37.353
44,NCALLE5POP,"Alleghany County, NC",37005,8.134,8.3,8.7,8.8,9.0,9.0,9.3,...,11.024,11.139,11.017,10.945,10.905,10.895,10.861,10.926,11.023,11.161
70,NCANSO7POP,"Anson County, NC",37007,23.488,23.8,24.1,24.5,24.4,24.7,24.8,...,25.045,26.852,26.508,26.312,25.964,25.974,25.620,25.182,24.878,24.877
89,NCASHE9POP,"Ashe County, NC",37009,19.571,20.0,20.0,20.2,20.5,20.7,20.9,...,25.905,27.228,26.984,26.927,26.849,26.772,26.637,26.611,26.803,27.109

In [6]:
# Set index to Series ID
df_nc.set_index(df_nc['Series ID'], inplace = True)
df_nc.head(2)

,Series ID,Region Name,Region Code,1970,1971,1972,1973,1974,1975,1976,...,2009,2010,2011,2012,2013,2014,2015,2016,2017,2018
Series ID,,,,,,,,,,,,,,,,,,,,,
NCALAM1POP,NCALAM1POP,"Alamance County, NC",37001,96.502,98.5,99.7,99.9,99.3,98.2,98.7,...,150.244,151.440,152.696,153.282,154.199,155.425,157.10,160.392,163.529,166.436
NCALEX3POP,NCALEX3POP,"Alexander County, NC",37003,19.466,20.3,21.2,22.1,22.7,22.9,23.1,...,36.822,37.235,37.028,36.925,37.016,36.992,36.96,37.142,37.146,37.353

In [7]:
# Drop Series ID column
df_nc.drop('Series ID', axis = 1, inplace = True)
df_nc.head(2)

c:\users\natha\appdata\local\programs\python\python37\lib\site-packages\pandas\core\frame.py:4117: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  errors=errors,

,Region Name,Region Code,1970,1971,1972,1973,1974,1975,1976,1977,...,2009,2010,2011,2012,2013,2014,2015,2016,2017,2018
Series ID,,,,,,,,,,,,,,,,,,,,,
NCALAM1POP,"Alamance County, NC",37001,96.502,98.5,99.7,99.9,99.3,98.2,98.7,98.5,...,150.244,151.440,152.696,153.282,154.199,155.425,157.10,160.392,163.529,166.436
NCALEX3POP,"Alexander County, NC",37003,19.466,20.3,21.2,22.1,22.7,22.9,23.1,23.6,...,36.822,37.235,37.028,36.925,37.016,36.992,36.96,37.142,37.146,37.353

In [8]:
# Save file to tab delimited txt for upload to SSMS
df_nc.to_csv('./Updates/STG_FRED_Resident_Population_by_County_Thousands_of_Persons.txt', sep = '\t')