In [4]:
## Written and published by Nathan Young, Junior Data Analyst for NC Data Dashboard, December 2019 ##

In [5]:
# Imports  
import pandas as pd

In [6]:
# Create backups
df_backup = pd.read_csv('./Updates/STG_FRED_People_25_Years_and_Over_Who_Have_Completed_an_Associates_Degree_or_Higher_5year_estimate_by_County_Percent.txt')
df_backup.to_csv('./Backups/STG_FRED_People_25_Years_and_Over_Who_Have_Completed_an_Associates_Degree_or_Higher_5year_estimate_by_County_Percent_BACKUP.txt')

In [7]:
# Getting and reading new data 
df = pd.read_excel("https://geofred.stlouisfed.org/api/download.php?theme=pubugn&colorCount=5&reverseColors=false&intervalMethod=fractile&displayStateOutline=true&lng=-89.96&lat=40.81&zoom=4&showLabels=true&showValues=true&regionType=county&seriesTypeId=147063&attributes=Not+Seasonally+Adjusted%2C+Annual%2C+Percent&aggregationFrequency=Annual&aggregationType=Average&transformation=lin&date=2017-01-01&type=xls&startDate=2009-01-01&endDate=2017-01-01&mapWidth=999&mapHeight=521&hideLegend=false", skiprows=1)
df.head()

,Series ID,Region Name,Region Code,2009,2010,2011,2012,2013,2014,2015,2016,2017
0,S1501ACSTOTAL045001,"Abbeville County, SC",45001,25.0,24.1,23.0,22.1,22.1,21.7,20.9,23.1,25.1
1,S1501ACSTOTAL022001,"Acadia Parish, LA",22001,15.6,15.8,16.1,15.7,16.7,16.1,17.2,17.4,18.5
2,S1501ACSTOTAL051001,"Accomack County, VA",51001,22.5,23.5,24.0,23.6,23.5,24.6,24.8,24.3,25.9
3,S1501ACSTOTAL016001,"Ada County, ID",16001,42.0,43.1,43.6,43.9,44.4,45.0,46.0,46.2,47.0
4,S1501ACSTOTAL019001,"Adair County, IA",19001,24.5,23.9,26.4,27.3,28.2,26.8,27.2,29.5,27.9

In [8]:
# Filter data to display only North Carolina
filter1 = df['Region Name'].str.contains(', NC')
df_nc = df[filter1]
df_nc.head()

,Series ID,Region Name,Region Code,2009,2010,2011,2012,2013,2014,2015,2016,2017
24,S1501ACSTOTAL037001,"Alamance County, NC",37001,29.6,30.2,30.3,30.9,31.1,30.7,31.2,32.4,33.0
35,S1501ACSTOTAL037003,"Alexander County, NC",37003,19.7,19.9,20.1,19.9,20.1,21.1,21.4,22.2,23.6
43,S1501ACSTOTAL037005,"Alleghany County, NC",37005,23.0,23.6,25.4,24.1,29.3,27.1,27.4,28.4,28.6
69,S1501ACSTOTAL037007,"Anson County, NC",37007,13.6,15.6,16.7,15.8,17.3,18.1,17.5,17.0,17.3
88,S1501ACSTOTAL037009,"Ashe County, NC",37009,24.2,24.6,26.2,27.9,29.2,28.5,29.1,29.5,31.1

In [9]:
# Set Series ID as Index
df_nc.set_index(df_nc['Series ID'], inplace = True)
df_nc.head(2)

,Series ID,Region Name,Region Code,2009,2010,2011,2012,2013,2014,2015,2016,2017
Series ID,,,,,,,,,,,,
S1501ACSTOTAL037001,S1501ACSTOTAL037001,"Alamance County, NC",37001,29.6,30.2,30.3,30.9,31.1,30.7,31.2,32.4,33.0
S1501ACSTOTAL037003,S1501ACSTOTAL037003,"Alexander County, NC",37003,19.7,19.9,20.1,19.9,20.1,21.1,21.4,22.2,23.6

In [10]:
# Drop Series ID column
df_nc.drop('Series ID', axis = 1, inplace = True)
df_nc.head(2)

c:\users\natha\appdata\local\programs\python\python37\lib\site-packages\pandas\core\frame.py:4117: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  errors=errors,

,Region Name,Region Code,2009,2010,2011,2012,2013,2014,2015,2016,2017
Series ID,,,,,,,,,,,
S1501ACSTOTAL037001,"Alamance County, NC",37001,29.6,30.2,30.3,30.9,31.1,30.7,31.2,32.4,33.0
S1501ACSTOTAL037003,"Alexander County, NC",37003,19.7,19.9,20.1,19.9,20.1,21.1,21.4,22.2,23.6

In [11]:
# Save file to tab delimited txt for upload to SSMS
df_nc.to_csv('./Updates/STG_FRED_People_25_Years_and_Over_Who_Have_Completed_an_Associates_Degree_or_Higher_5year_estimate_by_County_Percent.txt', sep = '\t')