In [1]:
## Written and published by Nathan Young, Junior Data Analyst for NC Data Dashboard, December 2019 ##

In [2]:
# Imports  
import pandas as pd

In [3]:
# Create backups
df_backup = pd.read_csv('./Updates/STG_FRED_Unemployment_Rate_by_County_Percent.txt')
df_backup.to_csv('./Backups/STG_FRED_Unemployment_Rate_by_County_Percent_BACKUP.txt')

In [4]:
# Getting and reading new data 
df = pd.read_excel("https://geofred.stlouisfed.org/api/download.php?theme=pubugn&colorCount=5&reverseColors=false&intervalMethod=fractile&displayStateOutline=true&lng=-89.96&lat=40.01&zoom=4&showLabels=true&showValues=true&regionType=county&seriesTypeId=1224&attributes=Not+Seasonally+Adjusted%2C+Monthly%2C+Percent&aggregationFrequency=Annual&aggregationType=Average&transformation=lin&date=2018-01-01&type=xls&startDate=1976-01-01&endDate=2018-01-01&mapWidth=999&mapHeight=1249&hideLegend=false", skiprows=1)
df.head(2)

,Series ID,Region Name,Region Code,1976,1977,1978,1979,1980,1981,1982,...,2009,2010,2011,2012,2013,2014,2015,2016,2017,2018
0,SCABBE1URN,"Abbeville County, SC",45001,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,14.175000,13.591667,12.450000,10.633333,9.50,7.725000,6.891667,5.500000,4.583333,3.983333
1,LAACAD0URN,"Acadia Parish, LA",22001,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,6.458333,7.258333,6.683333,5.991667,5.95,5.741667,6.850000,7.366667,5.908333,5.358333

In [5]:
# Filter data to display only North Carolina
filter1 = df['Region Name'].str.contains(', NC')
df_nc = df[filter1]
df_nc.head(2)

,Series ID,Region Name,Region Code,1976,1977,1978,1979,1980,1981,1982,...,2009,2010,2011,2012,2013,2014,2015,2016,2017,2018
24,NCALAM1URN,"Alamance County, NC",37001,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,11.675000,10.866667,9.658333,8.533333,7.250000,5.683333,5.341667,4.750000,4.225,3.658333
35,NCALEX3URN,"Alexander County, NC",37003,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,13.866667,13.041667,11.275000,9.575000,7.766667,5.633333,4.925000,4.241667,3.625,3.150000

In [6]:
# Set Index to Series ID
df_nc.set_index(df_nc['Series ID'], inplace = True)
df_nc.head(2)

,Series ID,Region Name,Region Code,1976,1977,1978,1979,1980,1981,1982,...,2009,2010,2011,2012,2013,2014,2015,2016,2017,2018
Series ID,,,,,,,,,,,,,,,,,,,,,
NCALAM1URN,NCALAM1URN,"Alamance County, NC",37001,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,11.675000,10.866667,9.658333,8.533333,7.250000,5.683333,5.341667,4.750000,4.225,3.658333
NCALEX3URN,NCALEX3URN,"Alexander County, NC",37003,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,13.866667,13.041667,11.275000,9.575000,7.766667,5.633333,4.925000,4.241667,3.625,3.150000

In [7]:
# Drop Series ID column
df_nc.drop('Series ID', axis = 1, inplace = True)
df_nc.head(2)

c:\users\natha\appdata\local\programs\python\python37\lib\site-packages\pandas\core\frame.py:4117: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  errors=errors,

,Region Name,Region Code,1976,1977,1978,1979,1980,1981,1982,1983,...,2009,2010,2011,2012,2013,2014,2015,2016,2017,2018
Series ID,,,,,,,,,,,,,,,,,,,,,
NCALAM1URN,"Alamance County, NC",37001,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,11.675000,10.866667,9.658333,8.533333,7.250000,5.683333,5.341667,4.750000,4.225,3.658333
NCALEX3URN,"Alexander County, NC",37003,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,13.866667,13.041667,11.275000,9.575000,7.766667,5.633333,4.925000,4.241667,3.625,3.150000

In [8]:
# Save file to tab delimited txt for upload to SSMS
df_nc.to_csv('./Updates/STG_FRED_Unemployment_Rate_by_County_Percent.txt', sep = '\t')