In [53]:
import pandas as pd

In [54]:
# Watermark
print('Nathan Young\nJunior Data Analyst\nCenter for the Study of Free Enterprise')
%load_ext watermark
%watermark -a "Western Carolina University" -u -d -v -p pandas

Nathan Young
Junior Data Analyst
Center for the Study of Free Enterprise
The watermark extension is already loaded. To reload it, use:
  %reload_ext watermark
Western Carolina University
last updated: 2020-01-28

CPython 3.7.6
IPython 7.11.1

pandas 0.25.3

In [55]:
# Create Backups
#df_backup = pd.read_csv('', encoding = 'ISO-8859-1', sep='\t')
#df_backup.to_csv('')

# United States

In [56]:
# Load data
df_us_1 = pd.read_csv('../Data/PEP_2018_PEPAGESEX_with_ann_us.csv')
df_us_1.head(2)

,GEO.id,GEO.id2,GEO.display-label,cen42010sex0_age999,cen42010sex1_age999,cen42010sex2_age999,est42010sex0_age999,est42010sex1_age999,est42010sex2_age999,est72010sex0_age999,...,est72015sex2_medage,est72016sex0_medage,est72016sex1_medage,est72016sex2_medage,est72017sex0_medage,est72017sex1_medage,est72017sex2_medage,est72018sex0_medage,est72018sex1_medage,est72018sex2_medage
0,Id,Id2,Geography,"April 1, 2010 - Census - Both Sexes; Total","April 1, 2010 - Census - Male; Total","April 1, 2010 - Census - Female; Total","April 1, 2010 - Estimates Base - Both Sexes; T...","April 1, 2010 - Estimates Base - Male; Total","April 1, 2010 - Estimates Base - Female; Total",Population Estimate (as of July 1) - 2010 - Bo...,...,Population Estimate (as of July 1) - 2015 - Fe...,Population Estimate (as of July 1) - 2016 - Bo...,Population Estimate (as of July 1) - 2016 - Ma...,Population Estimate (as of July 1) - 2016 - Fe...,Population Estimate (as of July 1) - 2017 - Bo...,Population Estimate (as of July 1) - 2017 - Ma...,Population Estimate (as of July 1) - 2017 - Fe...,Population Estimate (as of July 1) - 2018 - Bo...,Population Estimate (as of July 1) - 2018 - Ma...,Population Estimate (as of July 1) - 2018 - Fe...
1,0100000US,NaN,United States,308745538,151781326,156964212,308758105,151788777,156969328,309326085,...,39.1,37.9,36.6,39.2,38.0,36.8,39.4,38.2,36.9,39.5

# North Carolina

In [57]:
df_nc_1 = pd.read_csv('../Data/PEP_2018_PEPAGESEX_with_ann_nc.csv')
df_nc_1.head(2)

,GEO.id,GEO.id2,GEO.display-label,cen42010sex0_age999,cen42010sex1_age999,cen42010sex2_age999,est42010sex0_age999,est42010sex1_age999,est42010sex2_age999,est72010sex0_age999,...,est72015sex2_medage,est72016sex0_medage,est72016sex1_medage,est72016sex2_medage,est72017sex0_medage,est72017sex1_medage,est72017sex2_medage,est72018sex0_medage,est72018sex1_medage,est72018sex2_medage
0,Id,Id2,Geography,"April 1, 2010 - Census - Both Sexes; Total","April 1, 2010 - Census - Male; Total","April 1, 2010 - Census - Female; Total","April 1, 2010 - Estimates Base - Both Sexes; T...","April 1, 2010 - Estimates Base - Male; Total","April 1, 2010 - Estimates Base - Female; Total",Population Estimate (as of July 1) - 2010 - Bo...,...,Population Estimate (as of July 1) - 2015 - Fe...,Population Estimate (as of July 1) - 2016 - Bo...,Population Estimate (as of July 1) - 2016 - Ma...,Population Estimate (as of July 1) - 2016 - Fe...,Population Estimate (as of July 1) - 2017 - Bo...,Population Estimate (as of July 1) - 2017 - Ma...,Population Estimate (as of July 1) - 2017 - Fe...,Population Estimate (as of July 1) - 2018 - Bo...,Population Estimate (as of July 1) - 2018 - Ma...,Population Estimate (as of July 1) - 2018 - Fe...
1,0400000US01,01,Alabama,4779736,2320188,2459548,4780138,2320484,2459654,4785448,...,40.1,38.9,37.4,40.3,39.0,37.6,40.5,39.2,37.8,40.7

In [58]:
df_nc_2 = pd.read_csv('../Data/PEP_2018_PEPSR6H_with_ann_nc.csv')
df_nc_2.head(2)

,Year.id,Year.display-label,Sex.id,Sex.display-label,Hisp.id,Hisp.display-label,GEO.id,GEO.id2,GEO.display-label,totpop,wa,ba,ia,aa,na,tom
0,Id,Year,Id,Sex,Id,Hispanic Origin,Id,Id2,Geography,Total,Race Alone - White,Race Alone - Black or African American,Race Alone - American Indian and Alaska Native,Race Alone - Asian,Race Alone - Native Hawaiian and Other Pacific...,Two or More Races
1,cen42010,"April 1, 2010 Census",female,Female,hisp,Hispanic,0400000US01,01,Alabama,81819,68103,6076,2881,720,1269,2770

# Counties

In [59]:
df_co_1 = pd.read_csv('../Data/PEP_2018_PEPAGESEX_with_ann_county.csv')
df_co_1.head(2)

,GEO.id,GEO.id2,GEO.display-label,cen42010sex0_age999,cen42010sex1_age999,cen42010sex2_age999,est42010sex0_age999,est42010sex1_age999,est42010sex2_age999,est72010sex0_age999,...,est72015sex2_medage,est72016sex0_medage,est72016sex1_medage,est72016sex2_medage,est72017sex0_medage,est72017sex1_medage,est72017sex2_medage,est72018sex0_medage,est72018sex1_medage,est72018sex2_medage
0,Id,Id2,Geography,"April 1, 2010 - Census - Both Sexes; Total","April 1, 2010 - Census - Male; Total","April 1, 2010 - Census - Female; Total","April 1, 2010 - Estimates Base - Both Sexes; T...","April 1, 2010 - Estimates Base - Male; Total","April 1, 2010 - Estimates Base - Female; Total",Population Estimate (as of July 1) - 2010 - Bo...,...,Population Estimate (as of July 1) - 2015 - Fe...,Population Estimate (as of July 1) - 2016 - Bo...,Population Estimate (as of July 1) - 2016 - Ma...,Population Estimate (as of July 1) - 2016 - Fe...,Population Estimate (as of July 1) - 2017 - Bo...,Population Estimate (as of July 1) - 2017 - Ma...,Population Estimate (as of July 1) - 2017 - Fe...,Population Estimate (as of July 1) - 2018 - Bo...,Population Estimate (as of July 1) - 2018 - Ma...,Population Estimate (as of July 1) - 2018 - Fe...
1,0500000US37001,37001,"Alamance County, North Carolina",151131,71890,79241,151160,71906,79254,151440,...,41.1,39.4,37.9,40.7,39.3,37.8,40.7,39.3,37.8,40.6

In [60]:
df_co_2 = pd.read_csv('../Data/PEP_2018_PEPSR6H_with_ann_county.csv')
df_co_2.head(2)

,Year.id,Year.display-label,Sex.id,Sex.display-label,Hisp.id,Hisp.display-label,GEO.id,GEO.id2,GEO.display-label,totpop,wa,ba,ia,aa,na,tom
0,Id,Year,Id,Sex,Id,Hispanic Origin,Id,Id2,Geography,Total,Race Alone - White,Race Alone - Black or African American,Race Alone - American Indian and Alaska Native,Race Alone - Asian,Race Alone - Native Hawaiian and Other Pacific...,Two or More Races
1,cen42010,"April 1, 2010 Census",female,Female,hisp,Hispanic,0500000US37001,37001,"Alamance County, North Carolina",8116,6600,423,736,36,27,294