In [5]:
## Written and published by Nathan Young, Junior Data Analyst for NC Data Dashboard, December 2019 ##

In [6]:
# Imports  
import pandas as pd

In [7]:
# Create backups
df_backup = pd.read_csv('./Updates/STG_FRED_Civilian_Labor_Force_by_County_Persons.txt')
df_backup.to_csv('./Backups/STG_FRED_Civilian_Labor_Force_by_County_Persons_BACKUP.txt')

In [8]:
# Getting and reading new data 
df = pd.read_excel("https://geofred.stlouisfed.org/api/download.php?theme=pubugn&colorCount=5&reverseColors=false&intervalMethod=fractile&displayStateOutline=true&lng=-89.96&lat=39.98&zoom=4&showLabels=true&showValues=true&regionType=county&seriesTypeId=656&attributes=Not+Seasonally+Adjusted%2C+Monthly%2C+Persons&aggregationFrequency=Annual&aggregationType=Average&transformation=lin&date=2018-01-01&type=xls&startDate=1990-01-01&endDate=2018-01-01&mapWidth=999&mapHeight=582&hideLegend=false", skiprows=1)
df.head()

,Series ID,Region Name,Region Code,1990,1991,1992,1993,1994,1995,1996,...,2009,2010,2011,2012,2013,2014,2015,2016,2017,2018
0,SCABBE1LFN,"Abbeville County, SC",45001,11951.083333,11783.833333,11969.333333,12407.833333,12485.583333,12612.333333,12512.750000,...,11260.000000,10925.166667,10779.916667,10683.916667,10542.666667,10573.333333,10341.000000,10272.083333,9948.500000,10057.250000
1,LAACAD0LFN,"Acadia Parish, LA",22001,21750.083333,22232.833333,22166.583333,21619.000000,21893.750000,22106.250000,22846.500000,...,26173.166667,26130.083333,25791.000000,26135.000000,26329.166667,26660.250000,25813.833333,24508.583333,24012.416667,23952.166667
2,VAACCO1LFN,"Accomack County, VA",51001,15109.583333,15488.666667,15722.000000,15637.250000,15384.500000,15377.250000,15034.250000,...,19703.833333,16804.500000,16590.500000,16418.166667,16229.000000,16050.833333,15874.583333,15780.916667,16621.833333,16762.750000
3,IDADAC1LFN,"Ada County, ID",16001,110727.166667,115245.416667,122338.250000,129843.583333,138696.583333,143492.833333,150732.833333,...,196383.000000,196945.083333,200303.833333,204353.333333,206575.500000,211674.583333,217605.166667,225650.500000,234620.583333,244524.416667
4,KYADLFN,"Adair County, KY",21001,7269.500000,7609.666667,7586.000000,7864.916667,7831.000000,7947.000000,8226.500000,...,9217.833333,7810.166667,7747.583333,7825.250000,7559.166667,7224.416667,7221.250000,7080.750000,7171.666667,7245.833333

In [9]:
# Filter data to display only North Carolina
filter1 = df['Region Name'].str.contains(', NC')
df_nc = df[filter1]
df_nc.head()

,Series ID,Region Name,Region Code,1990,1991,1992,1993,1994,1995,1996,...,2009,2010,2011,2012,2013,2014,2015,2016,2017,2018
24,NCALAM1LFN,"Alamance County, NC",37001,61496.000000,62239.916667,62656.500000,62948.916667,63510.833333,64538.583333,66697.333333,...,71389.166667,76806.250000,77265.500000,77999.916667,77240.750000,76788.333333,77316.083333,78947.416667,79983.750000,80583.500000
34,NCALEX3LFN,"Alexander County, NC",37003,16045.416667,16384.833333,16386.750000,16541.250000,16935.333333,17113.750000,17379.000000,...,18177.500000,18259.333333,17893.083333,17674.083333,17479.333333,17461.916667,17546.500000,17834.750000,17982.750000,18022.916667
43,NCALLE5LFN,"Alleghany County, NC",37005,4851.750000,4971.583333,5074.500000,4902.666667,4913.166667,5320.333333,5622.083333,...,4666.583333,4747.166667,4630.250000,4603.666667,4418.083333,4390.083333,4468.666667,4426.083333,4364.416667,4304.500000
70,NCANSO7LFN,"Anson County, NC",37007,11754.916667,12145.833333,12412.250000,11752.166667,11572.250000,11545.583333,11529.833333,...,10096.166667,11179.750000,11098.500000,11057.583333,10919.166667,10916.333333,10832.833333,10660.333333,10530.000000,10406.833333
89,NCASHE9LFN,"Ashe County, NC",37009,11378.000000,11618.000000,11619.666667,11730.166667,11553.666667,11841.416667,11838.666667,...,12547.000000,13721.916667,13245.583333,13185.916667,12855.000000,12410.250000,12315.666667,12508.416667,12668.666667,12749.583333

In [10]:
# Set Series ID as index
df_nc.set_index(df_nc['Series ID'], inplace = True)
df_nc.head(2)

,Series ID,Region Name,Region Code,1990,1991,1992,1993,1994,1995,1996,...,2009,2010,2011,2012,2013,2014,2015,2016,2017,2018
Series ID,,,,,,,,,,,,,,,,,,,,,
NCALAM1LFN,NCALAM1LFN,"Alamance County, NC",37001,61496.000000,62239.916667,62656.50,62948.916667,63510.833333,64538.583333,66697.333333,...,71389.166667,76806.250000,77265.500000,77999.916667,77240.750000,76788.333333,77316.083333,78947.416667,79983.75,80583.500000
NCALEX3LFN,NCALEX3LFN,"Alexander County, NC",37003,16045.416667,16384.833333,16386.75,16541.250000,16935.333333,17113.750000,17379.000000,...,18177.500000,18259.333333,17893.083333,17674.083333,17479.333333,17461.916667,17546.500000,17834.750000,17982.75,18022.916667

In [11]:
# Drop Series ID column
df_nc.drop('Series ID', axis = 1, inplace = True)
df_nc.head(2)

c:\users\natha\appdata\local\programs\python\python37\lib\site-packages\pandas\core\frame.py:4117: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  errors=errors,

,Region Name,Region Code,1990,1991,1992,1993,1994,1995,1996,1997,...,2009,2010,2011,2012,2013,2014,2015,2016,2017,2018
Series ID,,,,,,,,,,,,,,,,,,,,,
NCALAM1LFN,"Alamance County, NC",37001,61496.000000,62239.916667,62656.50,62948.916667,63510.833333,64538.583333,66697.333333,67971.916667,...,71389.166667,76806.250000,77265.500000,77999.916667,77240.750000,76788.333333,77316.083333,78947.416667,79983.75,80583.500000
NCALEX3LFN,"Alexander County, NC",37003,16045.416667,16384.833333,16386.75,16541.250000,16935.333333,17113.750000,17379.000000,17552.166667,...,18177.500000,18259.333333,17893.083333,17674.083333,17479.333333,17461.916667,17546.500000,17834.750000,17982.75,18022.916667

In [12]:
# Save file to tab delimited txt for upload to SSMS
df_nc.to_csv('./Updates/STG_FRED_Civilian_Labor_Force_by_County_Persons.txt', sep = '\t')