In [14]:
import pandas as pd

In [15]:
geofips_codes = ['Alamance':'37001', 'Alexander':'37003', 'Alleghany':'37005', 'Anson':'37007', 'Ashe':'37009', 'Avery':37011, Beaufort	37013
Bertie	37015
Bladen	37017
Brunswick	37019
Buncombe	37021
Burke	37023
Cabarrus	37025
Caldwell	37027
Camden	37029
Carteret	37031
Caswell	37033
Catawba	37035
Chatham	37037
Cherokee	37039
Chowan	37041
Clay	37043
Cleveland	37045
Columbus	37047
Craven	37049
Cumberland	37051
Currituck	37053
Dare	37055
Davidson	37057
Davie	37059
Duplin	37061
Durham	37063
Edgecombe	37065
Forsyth	37067
Franklin	37069
Gaston	37071
Gates	37073
Graham	37075
Granville	37077
Greene	37079
Guilford	37081
Halifax	37083
Harnett	37085
Haywood	37087
Henderson	37089
Hertford	37091
Hoke	37093
Hyde	37095
Iredell	37097
Jackson	37099
Johnston	37101
Jones	37103
Lee	37105
Lenoir	37107
Lincoln	37109
McDowell	37111
Macon	37113
Madison	37115
Martin	37117
Mecklenburg	37119
Mitchell	37121
Montgomery	37123
Moore	37125
Nash	37127
New Hanover	37129
Northampton	37131
Onslow	37133
Orange	37135
Pamlico	37137
Pasquotank	37139
Pender	37141
Perquimans	37143
Person	37145
Pitt	37147
Polk	37149
Randolph	37151
Richmond	37153
Robeson	37155
Rockingham	37157
Rowan	37159
Rutherford	37161
Sampson	37163
Scotland	37165
Stanly	37167
Stokes	37169
Surry	37171
Swain	37173
Transylvania	37175, Tyrrell	37177, Union	37179, Vance	37181, Wake	37183, Warren	37185, Washington	37187, Watauga	37189, Wayne	37191, Wilkes	37193, Wilson	37195, Yadkin	37197,Yancey	37199]

SyntaxError: invalid syntax (<ipython-input-15-9c4f544683af>, line 1)

In [6]:
df = pd.read_excel('TableauData_NC_Health_Section_WIP.xlsx')
df.head(5)

,GeoArea_FIPS,GeoArea_Name,Economic_Measure_Code,Economic_Measure_Name,Measure_Name,Data_Period_Business_Key,Estimated_Value,Unit_of_Measure_Code
0,37001.0,Alamance,CDC_CNTY_DI01,Drug Induced Cases by Crude Rate,American Indian or Alaska Native,1999,NaN,Crude Rate
1,37001.0,Alamance,CDC_CNTY_DI01,Drug Induced Cases by Crude Rate,Asian or Pacific Islander,1999,NaN,Crude Rate
2,37001.0,Alamance,CDC_CNTY_DI01,Drug Induced Cases by Crude Rate,Black or African American,1999,NaN,Crude Rate
3,37001.0,Alamance,CDC_CNTY_DI01,Drug Induced Cases by Crude Rate,White,1999,NaN,Crude Rate
4,37003.0,Alexander,CDC_CNTY_DI01,Drug Induced Cases by Crude Rate,American Indian or Alaska Native,1999,NaN,Crude Rate

In [8]:
df.dtypes

GeoArea_FIPS                float64
GeoArea_Name                 object
Economic_Measure_Code        object
Economic_Measure_Name        object
Measure_Name                 object
Data_Period_Business_Key     object
Estimated_Value              object
Unit_of_Measure_Code         object
dtype: object

In [11]:
df['GeoArea_FIPS'] = df['GeoArea_FIPS'].astype(str)
df.dtypes

GeoArea_FIPS                object
GeoArea_Name                object
Economic_Measure_Code       object
Economic_Measure_Name       object
Measure_Name                object
Data_Period_Business_Key    object
Estimated_Value             object
Unit_of_Measure_Code        object
dtype: object

In [13]:
df['GeoArea_FIPS'] = df['GeoArea_FIPS'].fillna(0)
df['GeoArea_FIPS'] = pd.to_numeric(df['GeoArea_FIPS']).astype(int)

ValueError: Unable to parse string "nan" at position 78431