In [1]:
## Written and published by Nathan Young, Junior Data Analyst for NC Data Dashboard, December 2019 ##

In [2]:
# Imports  
import pandas as pd

In [3]:
# Create backups
df_backup = pd.read_csv('./Updates/STG_FRED_New_Private_Housing_Structures.txt')
df_backup.to_csv('./Backups/STG_FRED_New_Private_Housing_Structures_BACKUP.txt')

In [4]:
# Getting and reading new data 
df = pd.read_excel("https://geofred.stlouisfed.org/api/download.php?theme=pubugn&colorCount=5&reverseColors=false&intervalMethod=fractile&displayStateOutline=true&lng=-89.96&lat=40.81&zoom=4&showLabels=true&showValues=true&regionType=county&seriesTypeId=155206&attributes=Not+Seasonally+Adjusted%2C+Annual%2C+Units&aggregationFrequency=Annual&aggregationType=Average&transformation=lin&date=2018-01-01&type=xls&startDate=1990-01-01&endDate=2018-01-01&mapWidth=999&mapHeight=521&hideLegend=false", skiprows=1)
df.head(2)

,Series ID,Region Name,Region Code,1990,1991,1992,1993,1994,1995,1996,...,2009,2010,2011,2012,2013,2014,2015,2016,2017,2018
0,BPPRIV045001,"Abbeville County, SC",45001,153.0,126.0,120.0,185.0,168.0,108.0,98.0,...,22.0,19.0,32.0,23.0,28.0,41.0,26,39,36.0,38.0
1,BPPRIV022001,"Acadia Parish, LA",22001,54.0,88.0,120.0,134.0,175.0,163.0,195.0,...,122.0,108.0,149.0,145.0,135.0,123.0,181,143,103.0,34.0

In [5]:
# Filter data to display only North Carolina
filter1 = df['Region Name'].str.contains(', NC')
df_nc = df[filter1]
df_nc.head(2)

,Series ID,Region Name,Region Code,1990,1991,1992,1993,1994,1995,1996,...,2009,2010,2011,2012,2013,2014,2015,2016,2017,2018
24,BPPRIV037001,"Alamance County, NC",37001,370.0,448.0,651.0,547.0,685.0,676.0,1067.0,...,561.0,847.0,556.0,358.0,561.0,606.0,1032,1353,1223.0,1419.0
34,BPPRIV037003,"Alexander County, NC",37003,96.0,103.0,115.0,111.0,106.0,102.0,136.0,...,133.0,47.0,49.0,74.0,52.0,53.0,65,43,87.0,97.0

In [6]:
# Set Index to Series ID
df_nc.set_index(df_nc['Series ID'], inplace = True)
df_nc.head(2)

,Series ID,Region Name,Region Code,1990,1991,1992,1993,1994,1995,1996,...,2009,2010,2011,2012,2013,2014,2015,2016,2017,2018
Series ID,,,,,,,,,,,,,,,,,,,,,
BPPRIV037001,BPPRIV037001,"Alamance County, NC",37001,370.0,448.0,651.0,547.0,685.0,676.0,1067.0,...,561.0,847.0,556.0,358.0,561.0,606.0,1032,1353,1223.0,1419.0
BPPRIV037003,BPPRIV037003,"Alexander County, NC",37003,96.0,103.0,115.0,111.0,106.0,102.0,136.0,...,133.0,47.0,49.0,74.0,52.0,53.0,65,43,87.0,97.0

In [7]:
# Drop Series ID column
df_nc.drop('Series ID', axis = 1, inplace = True)
df_nc.head(2)

c:\users\natha\appdata\local\programs\python\python37\lib\site-packages\pandas\core\frame.py:4117: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  errors=errors,

,Region Name,Region Code,1990,1991,1992,1993,1994,1995,1996,1997,...,2009,2010,2011,2012,2013,2014,2015,2016,2017,2018
Series ID,,,,,,,,,,,,,,,,,,,,,
BPPRIV037001,"Alamance County, NC",37001,370.0,448.0,651.0,547.0,685.0,676.0,1067.0,1226.0,...,561.0,847.0,556.0,358.0,561.0,606.0,1032,1353,1223.0,1419.0
BPPRIV037003,"Alexander County, NC",37003,96.0,103.0,115.0,111.0,106.0,102.0,136.0,146.0,...,133.0,47.0,49.0,74.0,52.0,53.0,65,43,87.0,97.0

In [8]:
# Save file to tab delimited txt for upload to SSMS
df_nc.to_csv('./Updates/STG_FRED_New_Private_Housing_Structures.txt', sep = '\t')