In [6]:
# Imports  
import pandas as pd

In [7]:
# Create backups
df_backup = pd.read_csv('./Updates/STG_FRED_All_Transactions_House_Price_Index.txt')
df_backup.to_csv('./Backups/STG_FRED_All_Transactions_House_Price_Index_BACKUP.txt')

In [8]:
# Getting and reading new data 
df = pd.read_excel("https://geofred.stlouisfed.org/api/download.php?theme=pubugn&colorCount=5&reverseColors=false&intervalMethod=fractile&displayStateOutline=true&lng=-90&lat=40&zoom=4&showLabels=true&showValues=true&regionType=county&seriesTypeId=942&attributes=Not+Seasonally+Adjusted%2C+Annual%2C+Index+2000%3D100&aggregationFrequency=Annual&aggregationType=Average&transformation=lin&date=2018-01-01&type=xls&startDate=1975-01-01&endDate=2018-01-01&mapWidth=999&mapHeight=1249&hideLegend=false", skiprows=1)
df.head(5)

,Series ID,Region Name,Region Code,1975,1976,1977,1978,1979,1980,1981,...,2009,2010,2011,2012,2013,2014,2015,2016,2017,2018
0,ATNHPIUS45001A,"Abbeville County, SC",45001,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,137.58,132.15,127.40,122.77,123.31,128.79,130.23,134.97,139.05,152.45
1,ATNHPIUS22001A,"Acadia Parish, LA",22001,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,143.62,144.13,142.48,143.98,150.13,152.46,153.53,156.86,160.33,163.94
2,ATNHPIUS51001A,"Accomack County, VA",51001,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,189.74,174.03,169.26,166.38,164.23,163.90,167.75,171.04,173.40,169.11
3,ATNHPIUS16001A,"Ada County, ID",16001,29.08,32.37,35.89,42.33,47.75,50.07,55.47,...,144.19,124.46,109.76,114.77,128.30,141.90,151.39,164.40,182.78,207.61
4,ATNHPIUS29001A,"Adair County, MO",29001,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,117.14,113.56,114.76,117.18,117.89,117.82,117.97,121.12,121.47,129.59

In [9]:
# Filter data to display only North Carolina
filter1 = df['Region Name'].str.contains(', NC')
df_nc = df[filter1]
df_nc.head()

,Series ID,Region Name,Region Code,1975,1976,1977,1978,1979,1980,1981,...,2009,2010,2011,2012,2013,2014,2015,2016,2017,2018
22,ATNHPIUS37001A,"Alamance County, NC",37001,28.85,29.29,30.51,35.46,40.1,0.0,0.0,...,111.71,107.20,103.62,101.77,102.65,101.72,105.21,107.32,112.06,119.45
30,ATNHPIUS37003A,"Alexander County, NC",37003,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,124.73,120.75,115.76,111.41,109.51,111.94,115.90,116.09,120.39,129.43
37,ATNHPIUS37005A,"Alleghany County, NC",37005,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,145.73,145.61,130.59,129.49,124.29,124.17,130.16,129.49,139.29,131.34
74,ATNHPIUS37009A,"Ashe County, NC",37009,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,157.92,146.03,139.97,137.07,135.41,133.03,134.54,138.03,136.90,145.51
92,ATNHPIUS37011A,"Avery County, NC",37011,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,147.41,135.75,131.11,127.96,123.14,124.02,120.59,128.48,123.24,133.52

In [10]:
# Save file to tab delimited txt for upload to SSMS
df_nc.to_csv('./Updates/STG_FRED_All_Transactions_House_Price_Index.txt', sep = '\t')