In [20]:
## Written and published by Nathan Young, Junior Data Analyst for NC Data Dashboard, December 2019 ##

In [21]:
# Imports  
import pandas as pd

In [22]:
# Create backups
df_backup = pd.read_csv('./Updates/STG_FRED_All_Transactions_House_Price_Index.txt')
df_backup.to_csv('./Backups/STG_FRED_All_Transactions_House_Price_Index_BACKUP.txt')

In [23]:
# Getting and reading new data 
df = pd.read_excel("https://geofred.stlouisfed.org/api/download.php?theme=pubugn&colorCount=5&reverseColors=false&intervalMethod=fractile&displayStateOutline=true&lng=-90&lat=40&zoom=4&showLabels=true&showValues=true&regionType=county&seriesTypeId=942&attributes=Not+Seasonally+Adjusted%2C+Annual%2C+Index+2000%3D100&aggregationFrequency=Annual&aggregationType=Average&transformation=lin&date=2018-01-01&type=xls&startDate=1975-01-01&endDate=2018-01-01&mapWidth=999&mapHeight=1249&hideLegend=false", skiprows=1)
df.head(2)

,Series ID,Region Name,Region Code,1975,1976,1977,1978,1979,1980,1981,...,2009,2010,2011,2012,2013,2014,2015,2016,2017,2018
0,ATNHPIUS45001A,"Abbeville County, SC",45001,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,137.58,132.15,127.40,122.77,123.31,128.79,130.23,134.97,139.05,152.45
1,ATNHPIUS22001A,"Acadia Parish, LA",22001,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,143.62,144.13,142.48,143.98,150.13,152.46,153.53,156.86,160.33,163.94

In [24]:
# Filter data to display only North Carolina
filter1 = df['Region Name'].str.contains(', NC')
df_nc = df[filter1]
df_nc.head(2)

,Series ID,Region Name,Region Code,1975,1976,1977,1978,1979,1980,1981,...,2009,2010,2011,2012,2013,2014,2015,2016,2017,2018
22,ATNHPIUS37001A,"Alamance County, NC",37001,28.85,29.29,30.51,35.46,40.1,0.0,0.0,...,111.71,107.20,103.62,101.77,102.65,101.72,105.21,107.32,112.06,119.45
30,ATNHPIUS37003A,"Alexander County, NC",37003,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,124.73,120.75,115.76,111.41,109.51,111.94,115.90,116.09,120.39,129.43

In [25]:
# Set Index to Series ID
df_nc.set_index(df_nc['Series ID'], inplace = True)
df_nc.head(2)

,Series ID,Region Name,Region Code,1975,1976,1977,1978,1979,1980,1981,...,2009,2010,2011,2012,2013,2014,2015,2016,2017,2018
Series ID,,,,,,,,,,,,,,,,,,,,,
ATNHPIUS37001A,ATNHPIUS37001A,"Alamance County, NC",37001,28.85,29.29,30.51,35.46,40.1,0.0,0.0,...,111.71,107.20,103.62,101.77,102.65,101.72,105.21,107.32,112.06,119.45
ATNHPIUS37003A,ATNHPIUS37003A,"Alexander County, NC",37003,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,124.73,120.75,115.76,111.41,109.51,111.94,115.90,116.09,120.39,129.43

In [26]:
# Drop Series ID column
df_nc.drop('Series ID', axis = 1, inplace = True)
df_nc.head(2)

,Region Name,Region Code,1975,1976,1977,1978,1979,1980,1981,1982,...,2009,2010,2011,2012,2013,2014,2015,2016,2017,2018
Series ID,,,,,,,,,,,,,,,,,,,,,
ATNHPIUS37001A,"Alamance County, NC",37001,28.85,29.29,30.51,35.46,40.1,0.0,0.0,0.0,...,111.71,107.20,103.62,101.77,102.65,101.72,105.21,107.32,112.06,119.45
ATNHPIUS37003A,"Alexander County, NC",37003,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,124.73,120.75,115.76,111.41,109.51,111.94,115.90,116.09,120.39,129.43

In [27]:
# Save file to tab delimited txt for upload to SSMS
df_nc.to_csv('./Updates/STG_FRED_All_Transactions_House_Price_Index.txt', sep = '\t')