In [ ]:
#Imports
import pyodbc

In [ ]:
#Connect to database and create cursor
conn = pyodbc.connect('Driver={SQL Server};'
                      'Server=TITANIUM-BOOK;'
                      'Database=DataDashboard;'
                      'Trusted_Connection=yes;')

c = conn.cursor()

In [ ]:
#Verify data is in database
c.execute('select top(1) * from dbo.STG_ZLLW_County_MedianListingPrice_AllHomes')
for row in c:
    print(row)

In [ ]:
#Drop old backup table
#c.execute('drop table STG_ZLLW_County_MedianListingPrice_AllHomes_BACKUP')

In [ ]:
#Verify backups are created
c.execute('select top(1) * from dbo.STG_ZLLW_County_MedianListingPrice_AllHomes_BACKUP')
for row in c:
    print(row)

In [ ]:
conn.close()